<div class="d-flex mb-2">
  <h1>Editing Course</h1>
  <div class="ml-auto">
    <%= link_to 'Show', [:teacher, @course], class: 'btn btn-primary mr-2' %>
    <%= link_to 'Back', teacher_courses_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
<%= render 'form', course: @course %>
